/*Adding profile picture*/
img {
    border-radius: 40%;
    width: 150px; 
  }
/*Adding background to name*/
.title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background: url(KM.png); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 100px 50px 100px;
    border-bottom: 5px solid black;
}
/*setting id for headers*/
#header {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
/*Adding class for Contact Information Section*/
.information {
    font-size: 16px;
    background-color: rgb(175, 211, 213);
}


