
/*Adding background to name*/
.namebackground {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-image: url("KM.png") alt="background signature";
    padding: 50px 100px 50px 100px
}
/*Adding class for Headers in Contact Information Section*/
.class h1 {
    font-size: 16px;
}
/*Adding class for text in Contact information and resume section*/
.class p {
    font-size: 14px;
}

/*Adding class for headers in resume section*/
.class h2 {
    font-size: 14px;
    color: crimson;
}