/*Adding profile picture*/
img {
    border-radius: 40%;
    width: 150px; 
  }

  /*setting id for title of page*/
#title {
    text-align: center;
    margin: 20px 20px 20px 20px;
}

    /*Adding background to name*/
.title {
    text-align: center;
    font: 60px Arial, bold;
    background: url(KM.png); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 50px 50px 50px;
    border-bottom: 5px solid black;
}

/*setting id for headers*/
#header {
    font-size: 18px;
    color: rgb(37, 131, 136);
    font-weight: bold;
    text-decoration: underline;
}

/*Adding class for Contact Information Section*/
.information {
    font-size: 16px;
    background-color: rgb(175, 211, 213);
    padding: 40px 150px 80px 50px;
    border: 2px solid lightgrey;
}

/*Adding padding for resume section*/
.resume {
    padding: 25px 80px 50px 30px;
}


